*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

*.prefs
.classpath
.project
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target
build
out
.gradle

# IntelliJ
.idea/
*.iml
gradle-enterprise-workspace-id
YOU ACCEPTED THE TOS FOR PUBLISHING BUILD SCANS
